@model IndexViewModel


@{
   
}
<div class="main-img" >
   <span class="title">Amazing Blog</span>
   <form class="searchin" asp-controller="Home" asp-action="Index" method="get">
       <input type="hidden" name="pageNumber" value="@Model.PageNumber"/>
       <input type="hidden" name="category" value="@Model.Category"/>
   <input class ="search" type="text" name="search" value="" placeholder="Search Blog"/>
   </form>
  
</div>



<div class="card-columns">
     
        @foreach (var post in Model.Posts)
        {
       var image_path = $"/Image/{post.Image}";
<div class="card">
            

            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                <div class = "card-img" ><img src="@image_path" width="300"/></div>>
                <div class="card-body">
                <h5 class="card-title"> @post.Title </h5>
                </div>
            </a>
             </div>

         

        
        }
        <div class="pages">

            @if(Model.PageNumber > 1){
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
            asp-route-pageNumber="@(Model.PageNumber - 1)"> back </a>
            }
            @if(Model.NextPage){
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category" 
            asp-route-pageNumber="@(Model.PageNumber + 1) ">></a>
            }
        </div>
    
</div>




   