@model Post
@{


 }

@*<h2 class = "post">@Model.Title</h2>

    @if (!String.IsNullOrEmpty(Model.Image))
    {
    var image_path = $"/Image/{Model.Image}";
    <img src="@image_path" width="500"/>
    }
<p>@Model.Body</p>*@

      <form method="get"> 

@*   <input class="search" type="text" name="search" value="" placeholder="Search"/>
*@   <div class="input-group-append"> 
    <input class="form-control"  />
       <button type="submit" class="btn btnalert-primary">Search</button>
   </div>
   </form>

<div class="container">
<div class="post">
    <h2 class = "post">@Model.Title</h2>

    @if (!String.IsNullOrEmpty(Model.Image))
    {
    var image_path = $"/Image/{Model.Image}";
    <img src="@image_path" />
    <span>@Model.Title</span>
    }
</div>
<div class="post-body">
    @Model.Body;
</div>
@if(User.Identity.IsAuthenticated){
<div class="comment-section">
    @{
       await Html.RenderPartialAsync("_MainComment", new CommentViewModel{PostId = Model.Id, MainCommentId = 0});
     }
        @foreach(var c in Model.MainComments)
        {
            <p>
                @c.Message --- @c.Created
            </p>
        }
        </div>
    }
    else
    {
        <div>
            <a asp-action="login" asp-controller="Auth">Sign In </a> to comment to the Post.
        </div>
    }
</div>


